<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead">
        <title id="pageTittle">Animais</title>
    </head>
    <link rel="stylesheet" th:href="@{/baseStyle.css}">
    <body>     
        <main class="container">
            <h1>Animal</h1>
            <form id="forms" th:action="@{/animais}" method="post" th:object="${animal}">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label id="texto" for="txtnome">Nome</label>
                    <input type="text" th:field="*{nome}" id="txtnome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txttipo">Tipo</label>
                    <input type="text" th:field="*{tipo}" id="txttipo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtraça">Raça</label>
                    <input type="text" th:field="*{raça}" id="txtraça" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtcor">Cor</label>
                    <input type="text" th:field="*{cor}" id="txtcor" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtdataNascimento">Data de nascimento</label>
                    <input type="date" th:field="*{dataNascimento}" id="txtdataNascimento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtdono">Dono / Cuidador</label>
                    <input type="text" th:field="*{dono}" id="txtdono" class="form-control" required>
                </div>

                <div class="form-group">
                    <button id="enviar" class="btn btn-primary" type="submit">Enviar</button>
                </div>

            </form>
        </main>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>