<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.13.2/jquery-ui.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/homeStyle.css}">
  <style>
    .table-container {
      max-width: 1200px;
      margin: 100px auto;
    }

    .table-bordered-custom thead th {
      background-color: #0D6EFD;
      color: white;
    }

    .table-bordered-custom thead th:first-child {
      border-radius: 6px 0 0 0;
    }

    .table-bordered-custom thead th:last-child {
      border-radius: 0 6px 0 0;
    }

    .table-bordered-custom tbody tr {
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
  </style>
</head>

<body>
  <div class="container-fluid vh-100 d-flex flex-column">
    <!-- Minha side bar -->
    <div class="row flex-grow-1">
      <div class="col-sm-3 col-md-3 col-lg-2 side d-flex flex-column p-0">
        <div class="d-flex pt-4 pb-4 mx-4 teste">
          <img th:src="@{/img/perfil.png}" alt="farmacia" id="img-login">
          <div class="d-flex flex-column ms-3">
            <span th:text="${nomeFuncionario}" class="text-white fs-5">Nome do Funcionário</span>
            <span th:text="${cargoFuncionario}" class="text-white">Cargo do Funcionário</span>
            <div class="d-flex align-items-center">
              <div class="status-perfil"></div>
              <span class="text-white ps-2">Online</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center mt-4">
          <button class="btn btn-primary mx-4 mb-3 py-2 fs-5 w-75" th:onclick="|location.href='/home'|">
            <i class="fa-regular fa-clock"></i>
            <span class="ps-2">Agendamento</span>
          </button>
          <button class="btn btn-primary mx-4 mb-3 py-2 fs-5 w-75" th:onclick="|location.href='/clientes'|">
            <i class="fa-solid fa-users"></i>
            <span class="ps-2">Clientes</span>
          </button>
          <button class="btn btn-primary mx-4 mb-3 py-2 fs-5 w-75" th:onclick="|location.href='/funcionarios'|">
            <i class="fa-solid fa-building-user"></i>
            <span class="ps-2">Funcionários</span>
          </button>
          <button class="btn btn-primary mx-4 mb-3 py-2 fs-5 w-75" th:onclick="|location.href='/produtos'|">
            <i class="fa-solid fa-box-open"></i>
            <span class="ps-2">Produtos</span>
          </button>
          <button class="btn btn-primary mx-4 mb-3 py-2 fs-5 w-75" th:onclick="|location.href='/animais'|">
            <i class="fa-solid fa-paw"></i>
            <span class="ps-2">Animais</span>
          </button>
        </div>
        <div class="py-5 mt-auto">
          <button class="btn btn-primary mx-4 py-2 fs-5 w-75" th:onclick="|location.href='/'|">
            <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
            <span class="ps-2">Sair</span>
          </button>
        </div>
      </div>
      <div class="col mt-4">
        <div class="table-container">
          <div class="table-responsive">
            <table class="table table-bordered-custom" id="tabAnimais">
              <!-- Cabeçalho da tabela -->
              <thead>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Raça</th>
                <th>Cor</th>
                <th>Data de Nascimento</th>
                <th>Dono - Cuidador</th>
                <th class="text-end pe-5">Ações</th>
              </thead>
              <tbody>
                <tr th:each="umAnimal : ${listaAnimais}">
                  <td th:text="${umAnimal.nome}"></td>
                  <td th:text="${umAnimal.tipo}"></td>
                  <td th:text="${umAnimal.raça}"></td>
                  <td th:text="${umAnimal.cor}"></td>
                  <td th:text="${umAnimal.dataNascimento}"></td>
                  <td th:text="${umAnimal.dono}"></td>
                  <td class="botoes d-flex justify-content-end">
                    <a th:href="@{'/animais/alterar/' + ${umAnimal.id}}" class="btn btn-warning me-2"><i
                    class="fa-regular fa-pen-to-square me-2"></i>Alterar</a>
                    <button class="btn btn-danger js-delete" th:data-id="${umAnimal.id}"><i
                      class="fa-regular fa-trash-can me-2"></i>Excluir</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex align-items-center justify-content-center">
              <img th:src="@{/img/petshop.png}" alt="pet-shop-logo" class=" position-absolute top-0 opacity-50 h-100"
                style="z-index: -1;">
            </div>
          </div>
          <div class="d-flex justify-content-end w-100 mt-2">
            <a href="/animais/novo" class="btn btn-primary me-2" id="novo"><i
                class="fa-solid fa-user-plus me-2"></i>Adiconar Pet</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="modalanimal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Pet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Confirma a exclusão do Pet?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scriptAnimais.js}"></script>
  <script src="https://kit.fontawesome.com/10b4b15b8d.js" crossorigin="anonymous"></script>
</body>

</html>
