<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead">
        <title id="pageTittle">Funcionário</title>
    </head>
    <link rel="stylesheet" th:href="@{/baseStyle.css}">
    <body>     
        <main class="container">
            <h1>Funcionário</h1>
            <form id="forms" th:action="@{/funcionarios}" method="post" th:object="${funcionario}">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label id="texto" for="txtnome">Nome</label>
                    <input type="text" th:field="*{nome}" id="txtnome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtcpf">CPF</label>
                    <input type="text" th:field="*{cpf}" id="txtcpf" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtendereco">Endereço</label>
                    <input type="text" th:field="*{endereco}" id="txtendereco" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtdatanascimento">Data de Nascimento</label>
                    <input type="date" th:field="*{dataNascimento}" id="txtdatanascimento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtcargo">Cargo</label>
                    <input type="text" th:field="*{cargo}" id="txtcargo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtemail">E-mail</label>
                    <input type="text" th:field="*{email}" id="txtemail" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtsenha">Senha</label>
                    <input type="text" th:field="*{senha}" id="txtsenha" class="form-control" required>
                </div>

                <div class="form-group">
                    <button id="enviar" class="btn btn-primary" type="submit">Enviar</button>
                </div>

            </form>
        </main>

        <div class="d-flex w-100 align-items-center justify-content-center" >
            <img th:src="@{/img/petshop.png}" alt="pet-shop-logo" class="img-fluid h-100 position-absolute top-0 opacity-25" style="z-index: -1;">
        </div>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>
