.calendar-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
}
.calendar-table th, .calendar-table td {
    border: 1px solid #ccc;
    padding: 15px; /* Ajuste o padding conforme necessário */
    text-align: center;
    height: 50px; /* Altura fixa para as células */
    vertical-align: top; /* Alinha o conteúdo ao topo */
    position: relative;
}
.calendar-table th {
    background-color: #f0f0f0;
}

.day-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    position: relative; /* Para posicionar a barra verde */
    line-height: 35px; /* Alinhamento vertical do texto */
}

.calendar-table td:hover {
    background-color: #e9ecef; /* Cor de fundo quando o mouse passar por cima */
    cursor: pointer; /* Cursor indicando que o elemento é clicável */
}

.dia-atual {
    background-color: #0D6EFD;
    color: white;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.horario-disponivel::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 8px;
    height: 5px;
    background-color: #28a745;
    position: absolute;
    left: 0;
}

.nao-disponivel {
    pointer-events: none; /* Impede eventos de clique */
    color: #ccc; /* Cor do texto mais clara para indicar indisponibilidade */
    text-decoration: none; /* Remove sublinhado padrão */
    cursor: not-allowed; /* Altera o cursor para indicar que o elemento não pode ser clicado */
    opacity: 0.5; /* Opacidade reduzida para indicar que o elemento está desativado */
}

/* Estilos do pop-up de agendamento */
.popup-agendamento {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do pop-up */
    max-width: 600px; /* Largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#novosEventos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento horizontal entre os eventos */
}

.evento {
    flex: 1 1 300px; /* Tamanho mínimo e máximo do evento */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px; /* Tamanho mínimo para o evento */
    max-width: 400px; /* Tamanho máximo para o evento */
}

.evento p {
    margin: 5px 0;
}

.evento p:first-child {
    margin-top: 0;
}

.evento-buttons {
    margin-top: 10px;
}

.evento-buttons button {
    margin-right: 5px;
}

