/* Exemplo de estilos */
.side {
    background-color: #1B1F27;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.teste{
    border-bottom: 1px solid rgba(255, 255, 255, 0.400);
}

#img-login{
    width: 80px;
    height: 78px;
    border-radius: 50%
}

.status-perfil {
    height: 10px;
    width: 10px;
    background-color: #00ff00b2;
    border-radius: 50%; 
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.calendar-table th, .calendar-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.popup-agendamento {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
