.home {
    margin-top: 1em;
    color: #00d6b7;
    font-size: 0.95em;
    text-align: center;
    position: relative;
}

.signout {
    margin-top: 1em;
    color: #00d6b7;
    font-size: 0.95em;
    text-align: center;
    position: relative;
}

.col-auto {
    background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
}

.lf--submit {
    display: block;
    padding: 10px;
    width: 247%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 8px;
}