* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 1.5em;
}

.login-form {
    width: 100%;
    padding: 2em;
    position: relative;
    background: rgba(0, 0, 0, 0.15);
}

.login-form:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
}

@media screen and (min-width: 600px) {
    .login-form {
        width: 50vw;
        max-width: 25em;
    }
}

.flex-row {
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    justify-content: center;
}

.lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f6f8;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.250);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.lf--input {
    flex: 1;
    max-width: 75%;
    padding: 1em;
    border: 0;
    color: #8f8f8f;
    font-size: 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.lf--input-email {
    flex: 1;
    padding: 1em;
    border: 0;
    color: #8f8f8f;
    font-size: 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.container-btn-login{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-login{
    min-width: 85%;
    padding: 10px;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.btn-login:hover{
    background: linear-gradient(to right, #2b9e9c, #02aa91);
}

.lf--submit{
    width: 20em;
    padding: 10px;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.lf--submit:hover{
    background: linear-gradient(to right, #2b9e9c, #02aa91);
}

.btn-extra-login{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.btn-extra-login button{
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0px 10px;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
    border-radius: 8px;
}

.btn-extra-login a{
    text-decoration: none;
    color: #FFF;
    font-size: 0.8em;
    padding: 0px 15px;
}

.btn-extra-login button:hover{
    background: linear-gradient(to right, #2b9e9c, #02aa91);
}


restPassword-form {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
}

.restPassword-form:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #35c3c1, #00d6b7);
}

@media screen and (min-width: 600px) {
    .restPassword-form {
        width: 50vw;
        max-width: 15em;
    }
}