<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead">
        <title id="pageTittle">Produto</title>
    </head>
    <link rel="stylesheet" th:href="@{/baseStyle.css}">
    <body>     
        <main class="container">
            <h1>Produto</h1>
            <form id="forms" th:action="@{/produtos}" method="post" th:object="${produto}">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label id="texto" for="txtnome">Nome</label>
                    <input type="text" th:field="*{nome}" id="txtnome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtdescricao">Descrição</label>
                    <input type="text" th:field="*{descricao}" id="txtdescricao" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtquantidade">Quantidade</label>
                    <input type="text" th:field="*{quantidadeProduto}" id="txtquantidade" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtvalor">Valor do Produto</label>
                    <input type="text" th:field="*{valorProduto}" id="txtvalor" class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="texto" for="txtdatachegada">Data de Chegada do Produto</label>
                    <input type="date" th:field="*{dataChegadaProduto}" id="txtdatachegada" class="form-control" required>
                </div>

                <div class="form-group">
                    <button id="enviar" class="btn btn-primary" type="submit">Enviar</button>
                </div>

            </form>
        </main>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>